.mainLayout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;

    background-color: var(--bg-primary);
    border-bottom: 1px solid var(--border-primary);
}

.leftSection {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.centerSection {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.centerSection span {
    color: var(--text-primary);
    cursor: pointer;
    font-weight: 500;
}

.centerSection span:hover {
    opacity: 0.8;
}

.rightSection {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.loginText {
    color: var(--text-primary);
    cursor: pointer;
    font-weight: 500;
}

.loginText:hover {
    opacity: 0.8;
}

.signUpBtn {
    padding: 0.4rem 0.9rem;
    border-radius: 8px;
    border: none;
    background-color: var(--text-primary);
    color: var(--bg-primary);
    font-weight: 600;
    cursor: pointer;
}

.themeBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--text-primary);
}

@media (max-width: 768px) {
    .centerSection {
        display: none;
    }

    .mainLayout {
        padding: 1rem;
    }

    .rightSection {
        gap: 0.8rem;
    }
}