@import "tailwindcss";

/* -------------------------------- */
/* Global Base Theme */
/* -------------------------------- */

:root {
  --bg-primary: #ffffff;
  --text-primary: #111827;
  --border-primary: rgba(16, 24, 40, 0.08);
   --hero-gradient: radial-gradient(
    circle at center,
    rgba(139, 92, 246, 0.15),
    transparent 60%
  );
}

.dark {
  --bg-primary: #0b0b0f;
  --text-primary: #ffffff;
  --border-primary: rgba(255, 255, 255, 0.08);
  --hero-gradient: radial-gradient(
    circle at center,
    rgba(139, 92, 246, 0.25),
    transparent 60%
  );
}

/* -------------------------------- */
/* Global Body */
/* -------------------------------- */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bg-primary);
  color: var(--text-primary);

  transition: background-color 0.25s ease, color 0.25s ease;
}

/* Optional: Smooth theme transitions */
* {
  transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}